**/.DS_Store
**/.ipynb_checkpoints
**/venv
**/.python-version
**/desktop.ini
**.lnk

# Ignore fork-syncing workflow, should only exist in forks
# cf. https://github.com/Giom-V/gemini-api-cookbook/blob/main/.github/workflows/sync.yml
.github/workflows/sync.yml
